<%# <div id="page-content"> %>
<h1 class="text-center mt-4">Create New Article</h1>
<%# all form code moved to form partial %>
<%# rendering form using partial %>
<%= render 'form' %>
<%# <%= link_to 'Retrun to Articles', articles_path%> 
<%# </div> %>